.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wrapper p {
  color: #e54c60;
  font-size: 0.8rem;
  font-weight: 800;
  margin: 0;
}

.info-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.duration-lable {
  border: #e54c60 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.5em;
  height: 100%;
  gap: 5px;
}

.female-button,
.male-button {
  border: none;
  height: 100%;
  width: 35%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.female-button {
  background-image: linear-gradient(90deg, #d385e6, #e54c60);
}

.male-button {
  background-image: linear-gradient(90deg, #29156b, #472ed8);
}
