.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.3em;
}

.holder::-webkit-scrollbar {
  display: none;
}

.holder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 1200px) {
  .holder {
    max-height: 600px;
  }
}
