.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  height: 55vh;
}

.holder::-webkit-scrollbar {
  display: none;
}

.holder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
