.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 2.5px;
  margin-bottom: 10px;
}

.inactive,
.active {
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 1px 10px;
  margin: 2px;
  width: auto;
  height: 25px;
}

.male {
  border: #472ed8 2px solid;
}

.female {
  border: #e54c60 2px solid;
}

.male.inactive {
  color: #472ed8;
  background-color: transparent;
}

.male.active {
  color: white;
  background-color: #472ed8;
}

.female.inactive {
  color: #e54c60;
  background-color: transparent;
}

.female.active {
  color: white;
  background-color: #e54c60;
}
