.wrapper {
  display: none;
}

.set-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.set-wrapper button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-button {
  border-radius: 50%;
  border: none;
  background-color: white;
}

.account-button svg {
  margin: 0.3em;
}

.logout-button {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 1.5em 0 0;
    border-top: 1px solid white;
  }
}
