.button {
  width: 20%;
  background-color: transparent;
  border-radius: 25px;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.button svg {
  width: 100%;
  padding: 0;
}

.inactive svg {
  filter: invert(20%);
}
