.button {
  /* The width of the button must be equal to the width of the svg icon and vise versa*/
  width: 65px;
  height: 65px;
  background-color: transparent;
  border-radius: 25px;
  border: none;
  padding: 0;
}

button svg {
  width: 100%;
  padding: 0;
}
