.modal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 70;
  display: flex;
  flex-direction: column;
  border: white 2px solid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header h3 {
  margin: 1em auto;
  font-size: 1.1rem;
}

.header button {
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 0 1em;
  padding: 0.2em 1em;
}

.header.male button {
  background-color: #472ed8;
}

.header.female button {
  background-color: #e54c60;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
}

.details h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.main-details,
.totals {
  display: flex;
  gap: 1em;
  font-size: 1em;
}

.main-details {
  color: #e54c60;
  font-weight: 700;
  align-items: center;
}

.main-details span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border: #e54c60 2.5px solid;
  padding: 0.25em 0.7em;
  border-radius: 10px;
}

.totals {
  font-size: 1em;
  font-weight: 500;
}

.totals span {
  color: #e54c60;
  font-weight: 700;
}

.totals p {
  margin: 0.5em 0;
}

.exercise-wrapper {
  width: 100%;
  height: auto;
  max-height: 70%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.exercise-wrapper::-webkit-scrollbar {
  display: none;
}

.sessions-wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 0.5em 1em;
  gap: 0.5em;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sessions-wrapper::-webkit-scrollbar {
  display: none;
}

.activity-card {
  display: flex;
  gap: 1em;
  border-radius: 20px;
  border: #e0e0e0 2px solid;
  width: fit-content;
  padding: 0.7em 2em 0.7em 1em;
  flex-shrink: 0;
}

.activity-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.activity-card div h6 {
  font-size: 1.1rem;
  color: #e54c60;
  margin: 0;
}

.activity-card div p {
  font-size: 1rem;
  font-weight: 500;
  color: #828282;
  margin: 0;
}

.empty-workouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em;
}

.empty-workouts h6 {
  color: #e54c60;
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.empty-workouts p {
  font-size: 1rem;
  color: #828282;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 70%;
    height: 85vh;
    position: absolute;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 40vw;
    height: 85vh;
  }
}
