.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: white 2px solid;
}

.header {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 0.7em 0.5em;
  box-sizing: border-box;
  margin: 1.2em 0;
}

.header h6 {
  font-size: 1.3rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.header button {
  border: none;
  font-size: 1.1rem;
  height: fit-content;
  font-weight: 600;
  background-color: transparent;

  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1.5em;
}

.male.header button {
  color: #472ed8;
}

.female.header button {
  color: #e54c60;
}

.exercise-wrapper {
  width: 100%;
  height: 70%;
  max-height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 8em;
}

.exercise-wrapper::-webkit-scrollbar {
  display: none;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.2em;
  box-sizing: border-box;
  height: 20%;
}

.details div {
  display: flex;
  justify-content: space-between;
}

.details input {
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 0.3em 0.6em;
  box-sizing: border-box;
}

.details input:first-child {
  width: 63%;
  font-weight: 600;
}

.male .details input:first-child {
  border-bottom: #472ed8 2px solid;
}

.female .details input:first-child {
  border-bottom: #e54c60 2px solid;
}

.details input:last-child {
  color: white;
  border-radius: 10px;
}

.male .details input:last-child {
  background-color: #472ed8;
}

.female .details input:last-child {
  background-color: #e54c60;
}

.male .details input:first-child::placeholder {
  color: #472ed8;
}

.female .details input:first-child::placeholder {
  color: #e54c60;
}

.details input:last-child::placeholder {
  color: white;
}

.details textarea {
  background-color: white;
  border: none;
  padding: 0.6em;
  height: auto;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  resize: none;
  outline: none;
}

.submit-button {
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  padding: 0.5em;
  width: 80%;
  height: fit-content;

  border: none;
  border-radius: 10px;
  margin: 1.5em auto;
  box-sizing: border-box;
}

.male-button {
  background: linear-gradient(270deg, #29156b 0%, #472ed8 81.25%);
}

.female-button {
  background: linear-gradient(270deg, #d385e6 0%, #e4516b 81.25%);
}

@media screen and (min-width: 768px) {
  .form {
    width: 70%;
    height: 85vh;
    position: absolute;
    border-radius: 15px;
  }

  .header {
    margin-top: 0.7em;
  }

  .exercise-wrapper {
    margin-bottom: 0;
  }

  .submit-button {
    margin: 1em auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 40vw;
    height: 85vh;
    position: absolute;
  }
}
