.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(-90deg, #e4516b, #d385e6);
  border-radius: 15px;
  padding: 0.5em 1em 0.5em 2.5em;
}

.calendar-header p {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.month-button {
  border: none;
  background: transparent;
  width: 20%;
}

.today-button {
  background-color: transparent;
  border-radius: 10px;
  border: white 3px solid;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5em 1.5em;
  width: fit-content;
}
