.bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.time-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  padding: 0.6em 1em;

  border-radius: 15px;
  background-color: #e54c60;
}

.time-wrapper svg path {
  stroke: white;
}

.time-wrapper p {
  margin: 0;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}

.category {
  margin: 0;
  margin-left: 1em;
  color: #e54c60;
  font-size: 0.9rem;
  font-weight: 600;
}

.bottom-wrapper a {
  color: #828282;
  margin-left: auto;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration-line: underline;
}
