.content-wrapper {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  box-sizing: border-box;
}

.content-wrapper .slider-item-content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
}

/* Apply styles to specific elements inside .swiper-slide */
.content-wrapper .swiper-slide > * {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-wrapper .swiper-slide h4,
.content-wrapper .swiper-slide p,
.content-wrapper .swiper-slide span,
.content-wrapper .swiper-slide a {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
  transition-delay: 0.3s;
}

/* Apply styles when .swiper-slide is active */
.content-wrapper .swiper-slide-active > * {
  opacity: 1;
}

.content-wrapper .swiper-slide-active h4,
.content-wrapper .swiper-slide-active p,
.content-wrapper .swiper-slide-active span,
.content-wrapper .swiper-slide-active a {
  opacity: 1;
  transform: translateY(0);
}

.content-wrapper .swiper-pagination {
  position: absolute;
  left: 50% !important;
  top: 0px !important;
  transform: translateX(-50%);
  z-index: 1;
  width: auto !important;
}

.content-wrapper .content-wrapper.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #e0e0e0;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.2s;
}

/* .swiper-pagination-bullet-active styles */
.content-wrapper .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 10px;
}

.content-wrapper.male .swiper-pagination-bullet-active {
  background: #472ed8;
}

.content-wrapper.female .swiper-pagination-bullet-active {
  background: #e54c60;
}

/* .slider-buttons styles */

.content-wrapper .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.content-wrapper .swiper-wrapper {
  display: flex;
}

.content-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
