.card {
  width: 100%;
  height: 29%;
  position: relative;
  border-radius: 15px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.male.gradient {
  background: linear-gradient(
    115deg,
    rgba(71, 46, 216, 0.9) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.female.gradient {
  background: linear-gradient(
    115deg,
    rgba(229, 76, 96, 0.9) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.details span {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.details h6 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.details p {
  font-size: 1rem;
  font-weight: 450;
  margin: 0;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.details button {
  font-size: 1.1rem;
  color: white;
  background-color: transparent;
  font-weight: 500;
  padding: 0.25em 1.25em;
  width: fit-content;
  border-radius: 7px;
  border: white 2px solid;
  outline: none;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.card:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card:hover .image-wrapper {
  transform: scale(1.1);
}

.details:hover {
  margin-left: 10px;
  height: 98%;
  box-sizing: border-box;
}
