.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

/* Dekstop: .modal {
  flex-direction: row;
} */

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em auto 17em;
}

/* Desktop:
.sidebar {
  width: 35%;
  margin: 2em 0;
} */

.buttons-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-wrapper button {
  font-size: 1.1rem;
  width: 45%;
  height: fit-content;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.5em 2em;
}

.buttons-wrapper button:first-child {
  background-color: transparent;
  color: #eb4335;
  border: #eb4335 3px solid;
}

.buttons-wrapper button:nth-child(2) {
  background-color: #e54c60;
  color: white;
  border: transparent 3px solid;
}

.session-wrapper {
  width: 100%;
  height: 95vh;
  box-sizing: border-box;
  position: relative;
}

/* Desktop: .session-wrapper {
  height: 100%;
} */

.session-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}

/* .session-wrapper img {
  border-radius: 10px;
} */

.filter {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

/* .filter {
 
  border-radius: 10px;
} */

.male.filter {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.25) 55%,
    rgba(71, 46, 216, 0.2) 100%
  );
}

.female.filter {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.25) 55%,
    rgba(229, 76, 96, 0.2) 100%
  );
}

.controlls {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  padding: 1em 1.5em;
  display: flex;
  gap: 1em;
  border-radius: 20px;
}

/* .controlls {
  bottom: 2%;
} */

.controlls button {
  font-size: 1.5rem;
  padding: 0.3em 2em;
  border-radius: 15px;
  font-weight: 600;
}

.controlls button:first-child {
  border: #eb4335 3px solid;
  color: #eb4335;
  background: transparent;
}

.controlls button:last-child {
  background-color: #e54c60;
  border: #e54c60 3px solid;
  color: white;
}

.session-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session-timer h3 {
  font-size: 3rem;
  margin: 0;
}

.session-timer h4 {
  margin: 0;
  font-size: 2.5rem;
}

.session-timer h5 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1em;
}

.session-timer svg {
  width: 100px;
  height: 100px;
}

.loading-plane-mod {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.mini-header {
  width: 100%;
  background: linear-gradient(-125deg, #e54c60 20.25%, #d385e6 100%);
}

.mini-header p {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em;
  color: white;
}

.mini-controller {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  padding: 1.5em;
  border-radius: 15px;
  box-sizing: border-box;
  background: linear-gradient(-125deg, #e54c60 20.25%, #d385e6 100%);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 6;
}

.mini-controller p {
  font-size: 1.2rem;
  color: white;
}

.mini-controller button {
  font-size: 1.2rem;
  height: fit-content;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: white 2px solid;
  background: transparent;
  color: white;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .mini-header {
    display: none;
  }

  .mini-controller {
    display: none;
  }

  .sidebar {
    margin: 2em 0;
  }

  .buttons-wrapper {
    justify-content: flex-start;
  }

  .buttons-wrapper button {
    width: 40%;
    margin-right: 1em;
  }

  .controlls {
    bottom: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    flex-direction: row;
  }

  .sidebar {
    width: 35%;
  }

  .session-wrapper {
    height: 100%;
  }

  .session-wrapper img {
    border-radius: 10px;
  }

  .filter {
    border-radius: 10px;
  }

  .controlls {
    bottom: 2%;
  }
}
