.widget {
  padding: 2em 0;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
}

.display {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display::-webkit-scrollbar {
  display: none;
}

.display {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.add-button {
  width: 70%;
  height: fit-content;
  font-size: 1rem;
  padding: 0.5em 0;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #e54c60;
}

.start-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
  width: 100%;
  gap: 0.5em;
}

.start-message h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin: 0;
}

.start-message p {
  font-size: 1rem;
  font-size: 500;
  color: #828282;
  margin: 0;
}

.exercise-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(130, 130, 130, 0.36) 58.33%,
    rgba(130, 130, 130, 0.54) 100%,
    rgba(130, 130, 130, 0.54) 100%
  );
  z-index: 50;
}

.exercise-menu button {
  font-size: 1.1rem;
  padding: 0.9em 1.4em;
  font-weight: 600;
  height: fit-content;
  color: #e54c60;
  border: none;
}

.options {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 1.2em;
}

.options svg {
  width: 40px;
  height: 40px;
}

.options button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: left;
}

.options button:nth-child(2) {
  border-top: #e0e0e0 1.5px solid;
  color: #d90429;
}

.close-button {
  width: 95%;
  background-color: white;
  margin-bottom: 8em;
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .widget {
    border-radius: 15px;
  }

  .exercise-menu {
    border-radius: 0;
  }

  .options,
  .close-button {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .widget {
    margin: 2em 0;
    width: 60%;
  }

  .exercise-menu {
    position: absolute;
    border-radius: 15px;
    z-index: 2;
  }

  .options,
  .close-button {
    width: 85%;
  }

  .close-button {
    margin-bottom: 1.2em;
  }
}
