.content-wrapper {
  display: flex;
}

.content-wrapper h1 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}

.content-wrapper h3 {
  color: #828282;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
