.widget {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 1em;
  padding: 1em;
  box-sizing: border-box;
  border: #50aa7f solid 2px;
  background: linear-gradient(120deg, rgb(241, 252, 246), white);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.active,
.hydration,
.calories {
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  width: 90%;
}

.hydration {
  width: 75%;
}

.calories {
  width: 60%;
}

.hover-prevent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.legend {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  margin-bottom: 0.7em;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.legend div {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.legend span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.4em;
}

.legend span:first-child div {
  background-color: #28cfc6;
}

.legend span:nth-child(2) div {
  background-color: #7dc6f0;
}

.legend span:last-child div {
  background-color: #4858e7;
}

.widget img {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
