.header {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
}

.header nav {
  display: flex;
  align-items: center;
  height: 20%;
  position: relative;
}

.header h4 {
  font-size: 1.2rem;
  margin: 0;
}

.header img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.back-button {
  height: 100%;
  width: fit-content;
  transform: rotate(180deg);
  background-color: transparent;
  border: none;
  margin: 0 1em;
}

.add-button {
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 0.7em;
}

.male.add-button {
  background-color: #472ed8;
}

.female.add-button {
  background-color: #e54c60;
}

.main {
  height: 60%;
  max-height: 60%;
  width: auto;
  overflow: scroll;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
}

.main h4 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.4em;
}

.main h6 {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.5em;
  color: #828282;
  font-weight: 600;
}

.main h5 {
  font-size: 1.2rem;
  margin: 1em 0 0.5em;
}

.main ol {
  margin: 0;
  padding-left: 1.5em;
}

.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
