.controlls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.controlls h4 {
  font-size: 1.6rem;
  margin: 0;
  color: #e54c60;
}

.yesterday {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: #828282;
  margin: 0;
  text-decoration: underline;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1150px) {
  .controlls {
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 1600px) {
  .controlls {
    margin-bottom: 0;
  }
}
