.plane {
  width: 100%;
  height: fit-content;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.base {
  height: 100%;
  width: fit-content;
  position: relative;
}

.base-img {
  height: auto;
  width: 100%;
}

.muscle {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1350px) {
  .plane {
    height: 70%;
    flex: 0 0 70%;
  }

  .base-img {
    height: 100%;
    width: auto;
  }

  .muscle {
    height: 100%;
    width: auto;
    position: absolute;
  }
}
