.content-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.middle,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.middle {
  width: 25%;
  flex: 0 0 30%;
}

.right {
  width: 25%;
  flex: 0 0 30%;
}
