.content-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  height: fit-content;
}

.middle,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  box-sizing: border-box;
  width: 100%;
}

.middle {
  gap: 2em;
}

@media screen and (min-width: 1065px) {
  .content-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .middle,
  .right {
    width: 47%;
  }

  .middle {
    margin-bottom: 2em;
    height: fit-content;
  }

  .right {
    height: 750px;
  }
}

@media screen and (min-width: 1600px) {
  .content-wrapper {
    height: 100%;
    flex-wrap: nowrap;
  }

  .middle,
  .right {
    height: 100%;
    margin-bottom: 0;
  }

  .middle {
    width: 30%;
    flex: 0 0 30%;
    margin-bottom: 0;
    gap: 1em;
  }

  .right {
    width: 30%;
    flex: 0 0 30%;
  }
}
